*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
.titulo{
    text-align: center;
}
.parrafo{
    text-align: left;
}
